/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Sora', sans-serif;

}
.c-button{
    padding: .5rem 1rem;
    color: #14a99f;
    border: 2px solid #14a99f;
    cursor:pointer;
    background-color: transparent;
    -webkit-transition: .3s ease-in-out all;
    -moz-transition: .3s ease-in-out all;
    -ms-transition: .3s ease-in-out all;
    -o-transition: .3s ease-in-out all;
    transition: .3s ease-in-out all;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &:hover{
        background-color: #14a99f;
        color: aliceblue;
    }
}
.swal2-popup.swal2-toast .swal2-title {
    font-size: 1.5rem !important;
}
.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}